@use "variable" as v;
@use "mixins" as m;
/* ------------------------------- */
/* concept
/* ------------------------------- */

.concept-lead {
    text-align: center;
    font-size: 3.0rem;
    font-weight: bold;
    margin-bottom: 60px;
    line-height: 1.66;
    @include m.media{
        font-size: 2.0rem;
        margin-bottom: 30px;
    }
  }
  
  .concept-content {
    display: flex;
    align-items: center;
    max-width: 1000px;
    @include m.media{
        display: block;
    }
  }
  
  .concept-text {
    max-width: 440px;
    line-height: 1.875;
    font-weight: bold;
    @include m.media{
        margin-bottom: 30px;
    }
  }
  
  .concept-img-wrapper {
    max-width: 440px;
    /* 親要素concept-content1000pxに対してのmargin */
    margin-left: 12%;
    @include m.media{
        margin-left: 0;
        min-width: 100%;
    }
  }
  