// global/_mixins.scss

@mixin baseBtn($btnColor) {
    background-color: $btnColor;
    color: #171717;
    display: block;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 6px #1b1310;
    width: 235px;
    height: 59px;
    line-height: 59px;
    border-radius: 30px;
    font-weight: bold;
    /* マウスアウト時(hoverじゃないときに適用) */
    transition: 3s;
}

// 文字のスタイル
@mixin baseFont($size: 1.6rem, $style: italic, $weight: bold, $color: #282f35) {
    font: {
        size: $size;
        style: $style;
        weight: $weight;
    }
    color: $color;
}
// レスポンシブ対応
@mixin media($maxWidthMedia:768px){
    @media(max-width: $maxWidthMedia){
        &{
            @content
        }
    }
}

// 文字リンクカラーのミックスイン
@mixin linkColor($nomal, $hover){
    color: $normal;
    &:hover{
        color: &hover;
        text-decoration: none;
    }
}