@use "variable" as v;

/* ------------------------------- */

/* contact
/* ------------------------------- */

.bg-contact {
  background-image: url(../img/contact-bgi@2x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-text {
  color: #FFFFFF;
  display: block;
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: bold;
}
