@charset "UTF-8";
/* ------------------------------- */
/* 共通部分
/* ------------------------------- */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  letter-spacing: 0.05em;
  color: #171717;
  font-family: "Noto Serif", "Noto Serif JP", serif;
}

/* ハンバーガーボタン押下時に画面固定 */
.noscroll {
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  /* 元の画像より大きくなることもある */
  width: 100%;
  /* 画像の下の隙間を解消 */
  vertical-align: bottom;
}

/* ------------------------------- */
/* 本サイト共通
/* ------------------------------- */
.section-wrapper {
  /* 全画面表示に横のスペースを入れる */
  padding: 100px 4% 70px;
}
@media (max-width: 768px) {
  .section-wrapper {
    /* 全画面表示に横のスペースを入れる */
    padding: 100px 4% 40px;
  }
}

.section-title {
  max-width: 1200px;
  font-size: 6rem;
  font-style: italic;
  font-weight: bold;
  color: #282f35;
  margin: 0 auto 80px;
  padding-left: 100px;
}
.section-title::after {
  content: "";
  display: inline-block;
  background-color: #282f35;
  width: 200px;
  height: 5px;
  margin-left: 30px;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .section-title {
    font-size: 3rem;
    padding-left: 0;
    margin-bottom: 50px;
  }
  .section-title:after {
    width: 90px;
  }
}

.section-inner {
  max-width: 1000px;
  margin: 0 auto;
}

.section-bottom {
  max-width: 1200px;
  font-size: 9rem;
  font-style: normal;
  font-weight: bold;
  color: #171717;
  opacity: 0.05;
  margin: 70px auto 0;
}
@media (max-width: 768px) {
  .section-bottom {
    font-size: 4rem;
    margin-top: 40px;
  }
}

.sp-br {
  display: none;
}
@media (max-width: 768px) {
  .sp-br {
    display: block;
  }
}

@media (max-width: 768px) {
  .pc-br {
    display: none;
  }
}

.right-position {
  text-align: right;
}

.white-font {
  color: #ffffff;
}
.white-font::after {
  background-color: #ffffff;
}

.link-btn {
  background-color: #f7d43f;
  color: #171717;
  display: block;
  margin: 0 auto;
  text-align: center;
  -webkit-box-shadow: 0 0 6px #1b1310;
          box-shadow: 0 0 6px #1b1310;
  width: 235px;
  height: 59px;
  line-height: 59px;
  border-radius: 30px;
  font-weight: bold;
  /* マウスアウト時(hoverじゃないときに適用) */
  -webkit-transition: 3s;
  transition: 3s;
}
.link-btn:hover {
  opacity: 0.7;
  /* マウスオーバー時 */
  -webkit-transition: 3s;
  transition: 3s;
}

/* ------------------------------- */
/* header
/* ------------------------------- */
.header {
  padding: 19px 4%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: bold;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  /* ヘッダーがfvを超えたときに固定にする */
}
.header.fixed {
  position: fixed;
  background-color: #282f35;
  padding: 30px;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .header {
    padding-top: 30px;
  }
}

.header-nav {
  display: block;
}
@media (max-width: 768px) {
  .header-nav {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #282f35;
  }
  .header-nav.display {
    display: block;
  }
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* クリスタの動画通り、比率ではなく1200pxで揃える */
  max-width: 1200px;
  margin: 0 auto;
}
.header-inner a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.site-title {
  font-size: 2.6rem;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
  }
}

.nav-item {
  margin-right: 30px;
}
.nav-item:last-child {
  margin-right: 0px;
}
@media (max-width: 768px) {
  .nav-item {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .nav-item:last-child {
    margin-bottom: 0px;
  }
}

.burger-btn {
  display: none;
}
@media (max-width: 768px) {
  .burger-btn {
    display: block;
    width: 39px;
    height: 39px;
    position: relative;
    z-index: 2;
    border: none;
    cursor: pointer;
  }
  .burger-btn .bar {
    width: 20px;
    height: 1px;
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    background-color: #fff;
  }
  .burger-btn .bar-top {
    top: 10px;
  }
  .burger-btn .bar-mid {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .burger-btn .bar-bottom {
    bottom: 10px;
  }
  .burger-btn.close .bar-top {
    -webkit-transform: translate(-50%, 10px) rotate(45deg);
            transform: translate(-50%, 10px) rotate(45deg);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .burger-btn.close .bar-mid {
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .burger-btn.close .bar-bottom {
    -webkit-transform: translate(-50%, -8px) rotate(-45deg);
            transform: translate(-50%, -8px) rotate(-45deg);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
}

/* ------------------------------- */
/* first view
/* ------------------------------- */
.fv {
  /* sliderを使うため、URLはHTMLで記載 */
  /* background-image: url(../img/fv-b1@2x.jpg); gi_0*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  /* 最小の高さを指定 */
  min-height: 550px;
  position: relative;
}
.fv img {
  height: 100vh;
  min-height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-copy {
  position: absolute;
  color: #ffffff;
  left: 120px;
  bottom: 177px;
  font-weight: bold;
  padding-left: 4%;
}
@media (max-width: 768px) {
  .main-copy {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    /* 改行禁止 */
    text-align: center;
  }
}

.en-copy {
  font-size: 7rem;
  margin-bottom: 31px;
}
@media (max-width: 768px) {
  .en-copy {
    /* 以下サイトでpxをvwに変換 */
    /* vw: 375, px: 37 */
    /* https://web-development.space/tools/px-to-vw/ */
    font-size: 9.867vw;
    white-space: nowrap;
    margin-bottom: 53px;
  }
}

.jp-copy {
  font-size: 4rem;
  text-align: center;
}
@media (max-width: 768px) {
  .jp-copy {
    /* 以下サイトでpxをvwに変換 */
    /* vw: 375, px: 37 */
    /* https://web-development.space/tools/px-to-vw/ */
    font-size: 8vw;
  }
}

.slick-arrow {
  display: none !important;
}

/* ------------------------------- */
/* concept
/* ------------------------------- */
.concept-lead {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 60px;
  line-height: 1.66;
}
@media (max-width: 768px) {
  .concept-lead {
    font-size: 2rem;
    margin-bottom: 30px;
  }
}

.concept-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1000px;
}
@media (max-width: 768px) {
  .concept-content {
    display: block;
  }
}

.concept-text {
  max-width: 440px;
  line-height: 1.875;
  font-weight: bold;
}
@media (max-width: 768px) {
  .concept-text {
    margin-bottom: 30px;
  }
}

.concept-img-wrapper {
  max-width: 440px;
  /* 親要素concept-content1000pxに対してのmargin */
  margin-left: 12%;
}
@media (max-width: 768px) {
  .concept-img-wrapper {
    margin-left: 0;
    min-width: 100%;
  }
}

/* ------------------------------- */
/* works
/* ------------------------------- */
.bg-works {
  background-image: url(../img/works-bgi@2x.jpg);
  background-size: cover;
  background-position: center;
}

.works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  margin: 0 auto 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .works-list {
    display: block;
    margin-bottom: 80px;
  }
}

.works-item {
  max-width: 32%;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .works-item {
    max-width: 320px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }
  .works-item:last-child {
    margin-bottom: 0px;
  }
}

@media (max-width: 768px) {
  .works-list-img {
    width: 100%;
  }
}

.works-items a {
  color: #141414;
}

.works-list-text {
  padding: 25px 20px;
  line-height: 1.875;
}

/* ------------------------------- */
/* service
/* ------------------------------- */
@media (max-width: 768px) {
  .section-wrapper.service-top {
    padding-bottom: 0;
  }
}
@media (max-width: 768px) {
  .section-wrapper.service-bottom {
    padding-top: 0;
  }
}

.service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* 親要素のpaddingを無効にする */
  /* https://qiita.com/2x2no/items/12d0d87b38b19d1a28af */
  /* margin-left: calc(((100vw - 100%) / 2) * -1); */
  /* margin-right: calc(((100vw - 100%) / 2) * -1); */
}
@media (max-width: 768px) {
  .service-list {
    display: block;
  }
}

.service-item {
  width: 33.3%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.service-item.service_1 {
  background-image: url(../img/service-img01@2x.jpg);
}
.service-item.service_2 {
  background-image: url(../img/service-img02@2x.jpg);
}
.service-item.service_3 {
  background-image: url(../img/service-img03@2x.jpg);
}
@media (max-width: 768px) {
  .service-item {
    width: 100%;
    margin-bottom: 30px;
  }
}
.service-item a {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 320px;
  font-size: 4rem;
  font-style: italic;
  font-weight: bold;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.service-item a:hover {
  background-color: rgba(40, 47, 53, 0.7);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .service-item a {
    line-height: 250px;
    font-size: 5.33vw;
  }
}

/* ------------------------------- */
/* contact
/* ------------------------------- */
.bg-contact {
  background-image: url(../img/contact-bgi@2x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-text {
  color: #FFFFFF;
  display: block;
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: bold;
}

/* ------------------------------- */
/* footer
/* ------------------------------- */
footer {
  height: 80px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Flexboxを指定 */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* 水平方向の中央寄せ */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* 垂直方向の中央寄せ */
}

small {
  font-size: 1.4rem;
  font-weight: bold;
  color: #282f35;
}

/* ------------------------------- */
/* responsiveは別ファイル
/* ------------------------------- */
/*# sourceMappingURL=style.css.map */